:root {
  --primary-color: #d473d4;
  --font-color: #333;
  --hover-color: #40e0d0;
  --font-title: "Rubik Burned", sans-serif;
  --font-family: "Cabin", sans-serif;
  --warning-color: #ff0921;
  --transition: all 0.4s;
  --border: 1px solid rgb(200, 200, 200);
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
