@use "reset" as *;
@use "variables" as *;
@use "base" as *;
@use "media-queries" as *;

body {
  @include xl {
    max-width: 1100px;
    margin: auto;
    .changes {
      display: flex;
      justify-content: space-between;
    }
  }
}
main {
  margin: 0 2rem;
  h1 {
    color: rgb(220, 0, 0);
    margin: 4rem 0;
    font-size: 5rem;
  }
  .big-letter::first-letter {
    font-size: 3rem;
    color: white;
    background-color: rgb(0, 115, 255);
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    float: left;
  }
  .big-letter {
    line-height: normal;
  }
  .align-left {
    text-align: left;
  }
  .green-background {
    background-color: #e2f0cf;
    padding: 1rem;
  }
  .profil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem 0;
  }
  ul {
    margin-left: 2rem;
  }
  blockquote {
    border: 0.3rem solid #ced075;
    background-color: #ffffcc;
    padding: 3rem 1.5rem;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    q {
      text-align: center;
      margin-bottom: 2rem;
      font-weight: bold;
      font-size: 2rem;
    }
    img {
      float: left;
      margin: 0 1rem;
    }
    p {
      line-height: 3rem;
    }
    cite {
      align-self: flex-end;
    }
  }
  .chrono {
    float: right;
  }
  .produit {
    text-align: center;
  }
  .apercu-livre {
    text-align: center;
  }
  .check-mark {
    list-style: none;
    margin: 0;
    padding-left: 0;
    li {
      position: relative;
      padding-left: 40px;
    }
    & li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 2rem;
      height: 2rem;
      background-image: url("../images/check-mark.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .chiens {
    text-align: center;
  }
  .pdf {
    border: 0.3rem solid #76904d;
    background-color: #e2f0cf;
    padding: 3rem 1.5rem;
    h3 {
      margin: 4rem 3rem;
    }
  }
  .achat {
    border: 0.5rem dashed rgb(220, 0, 0);
    padding: 3rem 1.5rem;
    background-color: #ffffcc;
    display: flex;
    flex-direction: column;
    h2 {
      color: rgb(220, 0, 0);
    }
    a {
      align-self: center;
      img {
        margin: 3rem 0;
      }
    }
  }
}

footer {
  text-align: center;
  margin: 9rem 3rem 5rem;
  font-size: 1rem;
  a {
    text-decoration: none;
    color: rgb(0, 115, 255);
  }
}
